.comments-area{
	margin: 0 0 1em;
}

.comments-area label{
}

.comments-heading{
	
}

.navigation{

}

.next-posts{

}

.prev-posts{

}

.commentlist{
	margin: 0;
	padding: 0;
}


.comment-authorby vcard{

}

.avatar{
	float: left; 
	max-width:100%; 
	margin-right: 10px;
}

.comment-metaby {}

.commentmetadata{clear: both;}


.comment-data, 
.comment-databy{
	float: left; 
	max-width: 100%;
}

.authorname, 
.authornameby{
	float: left; 
	width: 100%;
}
.reply, .replyby{float: right;}
.reply a, 
.replyby a{
	text-decoration: none; 
	font-size: small;
}

.comment-meta{}


.comment-metaby a, 
.comment-meta a{
	text-transform: underline; 
	font-size: small;
}

.comment{
	padding:0;
	clear: both;
}

.fn {
    padding: 0;
}
.fn, 
.url {
    color: #676767;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
    font-stretch:normal;
}

.comment-date {
	font-size: small;
}
.url, 
.comment-date {
    text-decoration: none;
}

.comment-data p, 
.comment-databy p{
	
}

.comment-content p{
	color: #666; 
	line-height: 1.3em; 
	width: 95%;
}

.comment-sort{float: right;}
.comment-heading{float: left;}

.comment-sort ul{
	padding: 10px 0;
}

.comment-sort ul li{
	display: inline;
}
.comment-sort li.sort{
	color: #666666;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2em;
    padding: 0px;
}

.comment-sort li.newest{
	color: #666666;
    font-weight: 400;
    padding: 0px;
}


.comment-sort li a{
	color: #666666;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.comment-sort li a:hover{text-decoration: underline;}

.comment-sort li.oldest{
	color: #666666;
    font-weight: 700;
    padding: 0px;
}



#respond{
	
}

h2.respond-comment{
	color: #5a5a5a;
    font-weight: 700;
    line-height: 1em;
    margin: 3px 0 0;
    text-transform: uppercase;
    padding: 20px 0 0 0;
}


cancel-comment-reply{

}

#cancel-comment-reply-link{
	
}

.cancel-comment-reply a, 
.respond-comment a{
	color: #5a5a5a;
	font-weight: 700;
	line-height: 1.2em;
	text-decoration: underline;
}


input#author,
input#email,
input#url{
	background: #d7d7d7;
	width: 100%;
	height: 30px;
}
textarea#comment{
	width: 100%;
	background: #d7d7d7;
}

.commentlist ul.children {
	margin-left: 30px;
}

#commentform a{
	color: #70B4F2;
}
.form-allowed-tags{
	
}
.form-allowed-tags code{
	white-space: normal;
}