#topPanel {
    color: #FFFFFF;
}
#topPanel {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}
#topPanel .panel {
    background-color: rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0 1px 0 rgba(1, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(1, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0 rgba(1, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0 rgba(1, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(1, 0, 0, 0.2);
}
#topPanel .panel {
    display: none;
    margin: 0;
    padding: 40px 0 30px;
    position: relative;
    z-index: 900;
}



.alert {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.alert {
    font-size: 14px;
    font-weight: 600;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8999;
}

.alert p {
    line-height: 1.8em;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    /* width: 940px; */
}

#topPanel .inner {
    margin-left: auto;
    margin-right: auto;
   /*  width: 960px; */
}


.widget {
    margin: 0 0 30px;
}

#topPanel .panel .widget h3 {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
#topPanel .panel .widget h3 {
    cursor: default;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
}
.widget h3 {
    border-bottom: 1px solid #BBBBBB;
    color: #676767;
    text-shadow: 1px 1px 0 rgba(100, 100, 100, 0.1);
}
.widget h3 {
    cursor: default;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

#topPanel .panel ul li {
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.widget ul li {
    border-bottom: 1px dotted #E2E2E2;
}
.widget ul li {
    padding: 3px 0;
}

#topPanel .panel ul li a:before {
    background: url("../images/icon-set.png") no-repeat scroll 0 -219px transparent;
    content: "";
    float: left;
    height: 20px;
    opacity: 0.9;
    width: 15px;
}
#topPanel a {
    color: #FFFFFF;
}


#topPanel .panel ul li a:hover:before {
    opacity: 1;
    transform: translate(3px);
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#topPanel a:hover {
    text-decoration: underline;
}

#topPanel .panel .panel-title {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
#topPanel .panel .panel-title {
    cursor: default;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    clear: both;
}
#topPanel .panel .user-login p, #topPanel .panel .form-input {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}


#topPanel .panel input[type="text"], 
#topPanel .panel input[type="password"] {
    height: 30px;
}


#topPanel .panel input[type="checkbox"]{
	margin: 0;
	vertical-align: baseline;
}


#topPanel .panel .button, 
#topPanel .panel input[type="submit"], 
#topPanel .panel button {
    background: none repeat scroll 0 0 #666666;
    border: 0;
    color: #F8F8F8;
}
#topPanel .panel .button, 
#topPanel .panel input[type="submit"], 
#topPanel .panel button {
    font-size: 12px;
    padding: 3px 12px;
}


#topPanel .panel .user-login p, 
#topPanel .panel .form-input {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
#topPanel .panel-tab {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#topPanel .panel-tab {
    display: block;
    float: right;
    height: 26px;
    position: relative;
    right: 10px;
    top: 0;
    z-index: 1000;
}

#topPanel .panel-tab h4 {
    background-color: #000;
    color: #FFFFFF;
    margin: 0;
}
#topPanel .panel-tab h4 {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600 !important;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
}

#topPanel .panel .button:hover, 
#topPanel .panel input[type="submit"]:hover, 
#topPanel .panel button:hover {
    background: none repeat scroll 0 0 #FF2A2A;
    color: #F8F8F8;
}


.hentry { margin-bottom:20px; }

    .post-title h2 { 
        color:#444444;
    	font-size:22px;
    	margin:0 0 20px 0;
    }

    .post-title h2 a { 
        color:#444444;
        text-decoration: none;
    }

    .post-title h2 a:hover { text-decoration: underline; }

    .post-entry {
    	background: #fff;
    	border:1px solid #dbdbdb;
    	padding:20px;
    }

    a.more-link {
    	color:#444444;
    	text-decoration: none;
    	float: right;
    }

    a.more-link:hover { text-decoration: underline; }

    div.primary_navigation {
        width:940px;
        float:left;
        margin-top:5px;
    }

    div.primary_navigation span {
        text-indent: -9999px;
        width:18px;
        height: 18px;
        display: block;
        margin:0 10px;
    }

    div.primary_navigation span.nav-previous { float:left; }
    div.primary_navigation span.nav-next { float:right; }

    div.primary_navigation span.nav-next a { 
        display: block;
        background:url(images/next-icon.png) no-repeat; }

    div.primary_navigation span.nav-previous a {
        display: block;
        background:url(images/prev-icon.png) no-repeat;
    }

    form#primaryPostForm {
        padding:20px;
        background:#ffffff;
        border:1px solid #dbdbdb;
    }

    form#primaryPostForm label {
        margin:8px 50px 0 0;
        font-weight:bold;
        display:block;
        float:left;
    }

    form#primaryPostForm input, 
    form#primaryPostForm textarea {
        float:right;
        width:100%; /*width:80%*/
    }
    
    form#primaryPostForm input{
    	height: 35px;
    }
    

    form#primaryPostForm fieldset { margin:10px 0 10px 0; }

    form#primaryPostForm button { float:right; }

    table {
        width:100%;
        background:#fff;
        border:1px solid #dbdbdb;
    }

    table th, table th {
        width:30%;
    }

    table th {
        padding:15px;
        border:1px solid #dbdbdb;
        background: -moz-linear-gradient(
        top,
        #fafafa 0%,
        #f6f6f6);       
        background: -webkit-gradient(
            linear, left top, left bottom, 
            from(#fafafa),
            to(#f6f6f6));
    }

    table td {
        padding:10px;
        border: 1px solid #dbdbdb;
    }

    span.error, form#primaryPostForm label.error {
        width:50%;
        float: right;
        display: block;
        padding: 0.8em;
        margin: 10px 0 10px 0;
        line-height: 1.6em;
        border-radius: 4px!important;
        -webkit-border-radius: 4px!important;
        -moz-border-radius: 4px!important;
        -o-border-radius: 4px!important;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
        -o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
        background: #ffe6e3;
        border: 1px solid #f2c3bf;
        color: #bf210e;
        text-align: center;
    }

.sub-title{
	font-weight: 700;
}
